.about {
  width: 720px;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 80px;
  text-align: center;

}

.about__description {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  margin: 0;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  background-color: #ffffff;
}
