.advantage__description {
  width: 400px;
  padding: 98px 90px 77px;
  color: #ffffff;
  background-color: #83b3d3;
}

.advantage__title {
  margin-top: 0;
  margin-bottom: 29px;
}

.advantage__number {
  display: block;
  margin-bottom: 30px;
}

.advantage__text {
  margin: 0;
}

.advantage__image {
  width: 800px;
}

.advantage-revert {
  flex-direction: row-reverse;
}
