.banner {
  position: relative;
  padding-top: 47px;
  padding-bottom: 82px;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../img/index/index-background.jpg");
  background-position: center, 0, 0;
  background-repeat: no-repeat;
}

.banner__logo {
  padding-top: 5px;
}

.banner::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  width: 1200px;
  height: 57px;
  background-image: url("../img/index/mask.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
