.banner {
  padding-top: 51px;
  padding-bottom: 82px;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../img/index/index-background.jpg");
  background-position: center, 0, 0;
  background-repeat: no-repeat;
}
