.catalog {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-bottom: 1px solid #E6E6E6;
}

.catalog__item {
  display: flex;
  padding-top: 27px;
  padding-bottom: 30px;
  border-top: 1px solid #E6E6E6;
}

.catalog__image-link {
  margin-top: 3px;
  margin-right: 37px;
  text-decoration: none;
}

.catalog__image-link:hover {
  opacity: 0.6;
}

.catalog__image-link:focus {
  box-shadow: 0 0 0 3px #83b3d3;
}

.catalog__image-link:active {
  box-shadow: none;
  opacity: 0.3;
}

.catalog__image {
  display: block;
}

.catalog__description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 320px;
}

.catalog__title-link {
  position: relative;
  width: fit-content;
  color: #000000;
  text-decoration: none;
}

.catalog__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.catalog__title-link:hover, .catalog__title-link:focus {
  color: #756257;
}

.catalog__title-link:active {
  color: #756257;
  opacity: 0.3;
  box-shadow: none;
}

.catalog__title-link:focus::after {
  position: absolute;
  content: "";
  width: calc(100% + 32px);
  height: calc(100% + 5px);
  left: -15px;
  top: -2px;
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
}

.catalog__subtitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 236px;
  margin-bottom: 32px;
}

.catalog__type, .catalog__price {
  line-height: 23px;
  color: #333333;
  background-color: #ffffff;
}

.catalog__button-container {
  display: flex;
  flex-wrap: wrap;
}

.catalog-button {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
}

.catalog__more {
  display: block;
  width: 151px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #ffffff;
  background-color: #756257;
  text-align: center;
  text-decoration: none;
}

.catalog__more:hover {
  background-color: #615048;
}

.catalog__more:focus {
  background-color: #615048;
  box-shadow: 0 0 0 3px #83b3d3;
}

.catalog__more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
  box-shadow: none;
}

.catalog__favourite {
  width: 160px;
  color: #ffffff;
  background-color: #83b3d3;
}

.catalog__favourite:hover {
  background-color: #68a2ca;
  box-shadow: inset 0 0 0 1px #756257;
}

.catalog__favourite:focus {
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
}

.catalog__favourite:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
  box-shadow: inset 0 0 0 1px #756257;
}

.catalog__favourite_added {
  background-color: #7db54f;
}

.catalog__favourite_added:hover {
  background-color: #6c9e42;
  box-shadow: none;
}

.catalog__favourite_added:focus {
  background-color: #6c9e42;
  box-shadow: 0 0 0 3px #756257;
}

.catalog__favourite_added:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6c9e42;
  box-shadow: none;
}

.catalog__rating {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: end;
  margin-top: 3px;
  margin-left: auto;
}

.catalog__rating::before {
  position: absolute;
  content: "";
  width: 91px;
  height: 17px;
  top: 3px;
  right: 0;
  left: 0;
  margin: 0 auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.catalog__rating_four::before {
  background-image: url("../img/catalog/rating-4.svg");
}

.catalog__rating_three::before {
  background-image: url("../img/catalog/rating-3.svg");
}

.catalog__rating_two::before {
  background-image: url("../img/catalog/rating-2.svg");
}

.catalog__rating-number {
  width: 160px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  font-size: 16px;
  color: #333333;
  background: #f2f2f2;
  text-transform: uppercase;
}
