.copyright {
  width: 160px;
}

.copyright__link {
  display: block;
  padding: 18px 24px 14px 22px;
}

.copyright__link:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
}

.copyright__link:active {
  box-shadow: none;
}

.copyright__image {
  fill: #000000;
}

.copyright__link:hover .copyright__image {
  fill: #756257;
}

.copyright__link:focus .copyright__image {
  fill: #756257;
}

.copyright__link:active .copyright__image {
  fill: #756257;
  opacity: 0.3;
}
