.fav-list {
  height: 100%;
  padding: 15px 14px 10px 15px;
  background-color: #ffffff;
  border-top: 1px solid #E6E6E6;
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
  border-radius: 20px 20px 0 0;
  list-style-type: none;
}

.fav-list__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.fav-list__link {
  display: grid;
  grid-template-columns: 48px auto;
  grid-template-rows: auto min-content;
  grid-column-gap: 16px;
  max-width: 250px;
  padding: 10px;
  text-decoration: none;
}

.fav-list__link:hover {
  opacity: 0.6;
}

.fav-list__link:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
}

.fav-list__link:active {
  opacity: 0.3;
  box-shadow: none;
}

.fav-list__image {
  grid-row: 1 / -1;
  border-radius: 50%;
}

.fav-list__title {
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.fav-list__type {
  margin-top: -7px;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.fav-list__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  width: 36px;
  height: 36px;
  background: none;
}

.fav-list__icon {
  margin: auto;
  fill: #000000;
  opacity: 0.2;
}

.fav-list__button:hover .fav-list__icon, .fav-list__button:focus .fav-list__icon {
  opacity: 1;
}

.fav-list__button:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
}

.fav-list__button:active .fav-list__icon {
  opacity: 0.1;
}
