.filter__form {
  display: flex;
  padding: 0 71px;
}

.filter__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter__fieldset-infrastructure {
  margin-right: 67px;
}

.filter__fieldset-type {
  margin-right: 167px;
}

.filter__fieldset-price {
  margin-right: 81px;
}

.filter__title {
  margin-bottom: 30px;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.filter__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter__checkbox, .filter__radio-button {
  margin-bottom: 13px;
}

.filter__checkbox:nth-child(3n), .filter__radio-button:nth-child(3n) {
  margin-bottom: 0;
}

.filter__span {
  line-height: 23px;
}

.filter__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.filter__button-submit {
  width: 160px;
  margin-bottom: 18px;
  padding: 14px 0;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
  text-transform: uppercase;
}

.filter__button-submit:hover {
  background-color: #68A2CA;
}

.filter__button-submit:focus {
  background: #68A2CA;
  box-shadow: 0 0 0 3px #FFFFFF;
}

.filter__button-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
  box-shadow: none;
}

.filter__button-reset {
  width: 100px;
  padding: 4px 0 5px;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background: none;
  border: none;
}

.filter__button-reset:hover {
  opacity: 0.6;
}

.filter__button-reset:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 4px;
}

.filter__button-reset:active {
  color: #FFFFFF;
  opacity: 0.3;
  box-shadow: none;
}
