.hotels-per-page {
  display: flex;
}

.hotels-per-page__label {
  margin-right: 51px;
  line-height: 23px;
  color: #333333;
  background-color: #FFFFFF;
}

.hotels-per-page__select {
  width: 160px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background-color: #FFFFFF;
}
