.hotels {
  padding: 0 71px;
}

.hotels__amount-text {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotels__sorting-select {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotels__sorting-button {
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.hotels__sorting-button_active {
  border: 2px solid #000000;
}

.hotels__button-load {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-transform: uppercase;
}
