.hotels {
  padding: 0 72px;
}

.hotels__header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 44px;
  padding-bottom: 42px;
}

.hotels__amount-text {
  flex-grow: 1;
  max-width: 529px;
  width: 100%;
  margin: 0;
  font-size: 30px;
  line-height: 47px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotels__sorting {
  margin-right: auto;
}

.hotels__sorting-select {
  width: 287px;
  padding: 9px 11px 12px 15px;
  font-family: PT Sans, sans-serif;
  color: #333333;
  font-size: 18px;
  line-height: 23px;
  background-color: #FFFFFF;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  background-image: url("../img/catalog/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}

.hotels__sorting-select:hover, .hotels__sorting-select:focus {
  border: 2px solid #83B3D3;
  outline: none;
}

.hotels__sorting-select:active {
  border: 2px solid #E6E6E6;
  color: rgba(51, 51, 51, 0.3);
}

.hotels__sorting-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.hotels__sorting-button:last-of-type {
  margin-right: 0;
}

.hotels__sorting-button_active {
  border: 2px solid #000000;
}

.hotels__sorting-button:hover {
  border: 2px solid #83B3D3;
}

.hotels__sorting-button:focus {
  border: 2px solid #83B3D3;
}

.hotels__button-load {
  display: block;
  width: 625px;
  margin: 30px auto;
  padding-top: 15px;
  padding-bottom: 14px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-transform: uppercase;
  border-radius: 4px;
}

.hotels__button-load:hover {
  background-color: #68A2CA;
}

.hotels__button-load:focus {
  background-color: #68A2CA;
  box-shadow: 0 0 0 3px #756257;
}

.hotels__button-load:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
  box-shadow: none;
}

.hotels__pagination {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  border-top: 1px solid #E6E6E6;
}
