.hotels {
  padding: 0 72px;
}

.hotels__header {
  display: flex;
  padding-top: 44px;
  padding-bottom: 42px;
}

.hotels__amount-text {
  margin: 0 192px 0 0;
  font-size: 30px;
  line-height: 47px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotels__sorting {
  margin-right: auto;
}

.hotels__sorting-select {
  width: 287px;
  padding: 9px 11px 10px;
  font-family: PT Sans, sans-serif;
  color: #333333;
  font-size: 18px;
  line-height: 23px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.hotels__sorting-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.hotels__sorting-button:last-of-type {
  margin-right: 0;
}

.hotels__sorting-button_active {
  border: 2px solid #000000;
}

.hotels__button-load {
  display: block;
  width: 625px;
  margin: 30px auto;
  padding-top: 15px;
  padding-bottom: 14px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-transform: uppercase;
  border-radius: 4px;
}

.hotels__pagination {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  border-top: 1px solid #E6E6E6;
}
