.hotels-per-page {
  display: flex;
  align-items: center;
}

.hotels-per-page__label {
  margin-right: 51px;
  line-height: 23px;
  color: #333333;
  background-color: #FFFFFF;
}

.hotels-per-page__select {
  width: 160px;
  padding: 9px 11px 10px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background-color: #FFFFFF;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.hotels-per-page__select:hover, .hotels-per-page__select:focus {
  border: 2px solid #83B3D3;
}

.hotels-per-page__select:active {
  border: 2px solid #E6E6E6;
  color: rgba(51, 51, 51, 0.3);
}
