.index-subscription {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../img/index/index-background-blur.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 411px;
}
