.page-footer {
  display: flex;
  align-items: center;
  padding: 37px 72px 43px 62px;
}

.page-footer__phone {
  flex-grow: 1;
  text-align: center;
}

.page-footer__copyright {
  padding-top: 5px;
}
