.page-header {
  min-height: 65px;
  padding: 0 72px 0 59px;
}

.page-header__logo {
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

.page-header__logo:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
}

.page-header__logo-image {
  display: block;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}
