.page-catalog {
  padding-bottom: 138px;
  background: #FFFFFF;
}

.page-catalog__header {
  padding: 32px 71px 84px;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../img/catalog-background-blur.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-catalog__hotels {
  margin-bottom: 89px;
}
