.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination__item {
  text-align: center;
  background-color: #83B3D3;
}

.pagination__item {
  margin-right: 8px;
}

.pagination__item:last-of-type {
  margin-right: 0;
}

.pagination__item_active {
  background-color: #F2F2F2;
}

.pagination__link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
}

.pagination__link_active {
  color: #000000;
  background-color: #F2F2F2;
}
