.phone {
  width: 100%;
  max-width: 785px;
}

.phone__link {
  display: inline-block;
  padding: 12px 15px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.phone__link:hover {
  color: #756257;
}

.phone__link:focus {
  color: #756257;
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
}

.phone__link:active {
  color: #756257;
  opacity: 0.3;
  box-shadow: none;
}
