.advantage, .advantages-list, .advantages-other {
  text-align: center;
}

.reasons__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantage__description {
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages__item_blue-bg {
  background: rgba(131, 179, 211, 0.12);
}
