.reasons {
  margin: 0 auto;
  text-align: center;
}

.reasons__item {
  display: flex;
  flex-direction: row;
}

.reasons__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}
