.search {
  width: 720px;
  margin: 0 auto;
  padding-top: 89px;
  padding-bottom: 91px;
  text-align: center;
}

.search__text {
  margin: 0 auto 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search__description {
  margin: 0 auto 59px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
}

.search__button {
  display: block;
  width: 575px;
  margin: 0 auto;
  padding: 12px 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756257;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.search__button:hover {
  background-color: #615048;
}

.search__button:focus {
  box-sizing: border-box;
  background-color: #615048;
  box-shadow: 0 0 0 3px #83b3d3;
}

.search__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
  box-shadow: none;
}
