.social {
  width: 140px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__item {
  margin-right: 23px;
}

.social__item:nth-child(3n) {
  margin-right: 0;
}

.social__link {
  display: block;
  min-width: 20px;
  min-height: 18px;
  color: #83B3D3;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
}

.social__link-twitter {
  background-image: url("../img/twitter.svg");
}

.social__link-facebook {
  background-image: url("../img/facebook.svg");
}

.social__link-youtube {
  background-image: url("../img/youtube.svg");
}
