.social {
  width: 170px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__item {
  margin-right: 3px;
}

.social__item:nth-child(3n) {
  margin-right: 0;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  color: #83b3d3;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
}

.social__link:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
}

.social__link:active {
  box-shadow: none;
}

.social__icon {
  fill: #83b3d3;
}

.social__link:hover .social__icon {
  fill: #68a2ca;
}

.social__link:focus .social__icon {
  fill: #68a2ca;
}

.social__link:active .social__icon {
  fill: #68a2ca;
  opacity: 0.3;
}
