.subscription {
  text-align: center;
}

.subscription__container {
  width: 800px;
  margin: 0 auto;
}

.subscription__title {
  margin: 0 auto 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription__description {
  margin: 0 auto 47px;
  padding: 0 130px;
  font-size: 22px;
  line-height: 26px;
}

.subscription__form {
  display: grid;
  grid-template-columns: 600px 200px;
  grid-template-rows: 60px;
}

.subscription__form-label {
  padding: 0 19px 0 22px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  background-color: #F2F2F2;
  border-radius: 10px 0 0 10px;
  border: none;
}

.subscription__form-label:hover {
  background-color: #E6E6E6;
}

.subscription__form-label:focus {
  background-color: #E6E6E6;
  box-shadow: 0 0 0 3px #83B3D3;
}

.subscription__form-label:focus-visible {
  background-color: #FFFFFF;
  box-shadow: inset 0 0 0 2px #000000;
  outline: none;
}

.subscription__form-label:invalid {
  box-shadow: none;
}

.subscription__form-label:focus:invalid {
  box-shadow: inset 0 0 0 2px #FF5757;
}

.subscription__form-label:disabled,
.subscription__form-label:disabled:hover {
  color: #000000;
  background-color: #E5E5E5;
  box-shadow: none;
}

.subscription__form-label[type="email"]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.subscription__form-label[type="email"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.subscription__form-label[type="email"]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.subscription__form-label[type="email"]::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.subscription__form-label[type="email"]::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.subscription__form-button {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 0 10px 10px 0;
  text-transform: uppercase;
}

.subscription__form-button:hover {
  background-color: #68A2CA;
}

.subscription__form-button:focus {
  background-color: #68A2CA;
  box-shadow: 0 0 0 3px #756257;
}

.subscription__form-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
  box-shadow: none;
}

.subscription_index {
  padding-top: 92px;
  padding-bottom: 94px;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../img/index/index-background-blur.jpg");
  background-position: center, 0, 0;
  background-repeat: no-repeat;
}

.subscription_catalog {
  color: #000000;
  background-color: #FFFFFF;
}

.subscription__description_dark {
  color: #333333;
  background-color: #FFFFFF;
}
