.subscription {
  text-align: center;
}

.subscription__container {
  width: 800px;
  margin: 0 auto;
}

.subscription__title {
  margin: 0 auto 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription__description {
  margin: 0 auto 47px;
  padding: 0 130px;
  font-size: 22px;
  line-height: 26px;
}

.subscription__form {
  display: grid;
  grid-template-columns: 600px 200px;
  grid-template-rows: 61px;
}

.subscription__form-label {
  padding: 0 19px 0 22px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  background: #F2F2F2;
  border-radius: 10px 0 0 10px;
  border: none;
}

.subscription__form-button {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 0 10px 10px 0;
  text-transform: uppercase;
}

.subscription_index {
  padding-top: 92px;
  padding-bottom: 93px;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../img/index/index-background-blur.jpg");
  background-position: center, 0, 0;
  background-repeat: no-repeat;
}

.subscription_catalog {
  color: #000000;
  background-color: #FFFFFF;
}

.subscription__description_dark {
  color: #333333;
  background-color: #FFFFFF;
}
