.user-list {
  width: 290px;
  margin: 0;
  padding: 0;
}

.user-list__link {
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.user-list__booking {
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  text-transform: uppercase;
  text-decoration: none;
}
