.user-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  width: 290px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-list__item:nth-child(1n) {
  margin-right: 5px;
}

.user-list__item:nth-child(2n) {
  position: relative;
  margin-right: 25px;
}

.user-list__item:nth-child(3n) {
  margin-right: 0;
}

.user-list__link {
  display: block;
  position: relative;
  min-width: 34px;
  min-height: 34px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.user-list__link_favourite::after {
  position: absolute;
  content: "12";
  width: 19px;
  height: 19px;
  bottom: 17px;
  left: 20px;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 50%;
}

.user-list__link:focus {
  box-shadow: 0 0 0 3px #83B3D3;
  border-radius: 10px;
}

.user-list__link:active {
  box-shadow: none;
}

.user-list__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.user-list__link:hover .user-list__icon {
  fill: #756257;
}

.user-list__link:focus .user-list__icon {
  fill: #756257;
}

.user-list__link:active .user-list__icon {
  fill: #756257;
  opacity: 0.3;
}

.user-list__link_favourite:active::after {
  color: rgba(255, 255, 255, 0.3);
}

.user-list__booking {
  display: block;
  width: 160px;
  padding: 8px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
}

.user-list__booking:hover {
  background-color: #615048;
}

.user-list__booking:focus {
  background-color: #615048;
  box-shadow: 0 0 0 3px #83B3D3;
}

.user-list__booking:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
  box-shadow: none;
}

.user-list__popover {
  position: absolute;
  top: 46px;
  left: -181px;
  z-index: 1;
}
