.user-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  width: 290px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-list__item:nth-child(1n) {
  margin-right: 7px;
}

.user-list__item:nth-child(2n) {
  margin-right: 28px;
}

.user-list__item:nth-child(3n) {
  margin-right: 0;
}

.user-list__link {
  display: block;
  position: relative;
  min-width: 31px;
  min-height: 27px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.user-list__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.user-list__booking {
  display: block;
  width: 160px;
  padding: 8px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
}
