@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.page-body {
  height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
}

.page-body__container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.button {
  font-family: "PT Sans", sans-serif;
  border: none;
}

.page-header {
  padding: 0 72px;
}

.page-header__logo {
  margin: 0 auto;
}

.page-header__logo-image {
  display: block;
}

.site-list {
  display: flex;
  flex-wrap: wrap;
  width: 415px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-list__item {
  margin-right: 33px;
}

.site-list__item:nth-child(3n) {
  margin-right: 0;
}

.site-list__link {
  display: block;
  padding: 19px 0 20px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  width: 290px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-list__item {
  margin-right: 20px;
}

.user-list__item:nth-child(3n) {
  margin-right: 0;
}

.user-list__link {
  display: block;
  min-width: 31px;
  min-height: 27px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.user-list__booking {
  display: block;
  width: 160px;
  padding: 8px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  text-transform: uppercase;
  text-decoration: none;
}

.main-navigation {
  display: grid;
  grid-template-columns: 400px 256px 400px;
}

.main-navigation__list-right {
  margin-left: auto;
}

.main-container {
  flex-grow: 1;
}

.banner {
  padding-top: 47px;
  padding-bottom: 82px;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../img/index/index-background.jpg");
  background-position: center, 0, 0;
  background-repeat: no-repeat;
}

.about {
  width: 720px;
  margin: 0 auto;
  padding-top: 63px;
  padding-bottom: 79px;
  text-align: center;
}

.about__description {
  margin-top: 0;
  margin-bottom: 33px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  margin: 0;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  background-color: #FFFFFF;
}

.reasons {
  text-align: center;
}

.reasons__item {
  display: flex;
}

.reasons__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantage__description {
  width: 400px;
  padding: 98px 90px 77px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantage__title {
  margin-top: 0;
  margin-bottom: 29px;
}

.advantage__number {
  display: block;
  margin-bottom: 30px;
}

.advantage__text {
  margin: 0;
}

.advantage__image {
  width: 800px;
}

.advantage-revert {
  flex-direction: row-reverse;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-list__item {
  width: 400px;
  padding: 184px 75px 89px;
}

.advantages-list__item_bg  {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-list__title {
  margin-top: 0;
  margin-bottom: 20px;
}

.advantages-list__description {
  margin: 0;
  color: #333333;
}

.advantages-other__item {
  width: 400px;
  padding: 98px 75px 115px;
}

.advantages-other__item_bg  {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-other__item_center_bg {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-other__title {
  max-width: 150px;
  margin: 0 auto 28px;
}

.advantages-other__text {
  margin: 0;
}

.advantages-other__number {
  display: block;
  margin-bottom: 32px;
}

.advantages-other__number, .advantages-other__text {
  color: #333333;
}

.search {
  width: 720px;
  margin: 0 auto;
  padding-top: 91px;
  padding-bottom: 91px;
  text-align: center;
}

.search__text {
  margin: 0 auto 15px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search__description {
  margin: 0 auto 73px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #FFFFFF;
}

.search__button {
  display: block;
  width: 575px;
  margin: 0 auto;
  padding: 12px 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  text-transform: uppercase;
  text-decoration: none;
}

.subscription {
  text-align: center;
}

.subscription__container {
  width: 800px;
  margin: 0 auto;
}

.subscription__title {
  margin: 0 auto 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription__description {
  margin: 0 auto 46px;
  padding: 0 130px;
  font-size: 22px;
  line-height: 26px;
}

.subscription__form {
  display: grid;
  grid-template-columns: 600px 200px;
  grid-template-rows: 61px;
}

.subscription__form-label {
  padding: 0 19px 0 22px;
  font-family: "PT Sans", sans-serif;
  background: #F2F2F2;
  border-radius: 10px 0 0 10px;
  border: none;
}

.subscription__form-button {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-transform: uppercase;
}

.subscription_index {
  padding-top: 92px;
  padding-bottom: 94px;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../img/index/index-background-blur.jpg");
  background-position: center, 0, 0;
  background-repeat: no-repeat;
}

.subscription_catalog {
  color: #000000;
  background-color: #FFFFFF;
}

.subscription__description_dark {
  color: #333333;
  background-color: #FFFFFF;
}

.page-footer {
  display: flex;
  align-items: center;
  padding: 40px 72px;
}

.page-footer__phone {
  flex-grow: 1;
  text-align: center;
}

.social {
  width: 140px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__item {
  margin-right: 30px;
}

.social__item:nth-child(3n) {
  margin-right: 0;
}

.social__link {
  display: block;
  min-width: 20px;
  min-height: 18px;
  color: #83B3D3;
  background-color: #FFFFFF;
  text-decoration: none;
}

.phone {
  width: 720px;
}

.phone__link {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.copyright {
  width: 115px;
}

.copyright__link {
  display: block;
}

.page-catalog {
  padding-bottom: 138px;
  background: #FFFFFF;
}

.page-catalog__header {
  padding: 35px 72px 73px;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../img/catalog-background-blur.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-catalog__hotels {
  margin-bottom: 89px;
}

.catalog-header {
  margin-bottom: 45px;
}

.catalog-header__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 60px;
  line-height: 78px;
  font-weight: bold;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
}

.breadcrumbs__link {
  margin-right: 26px;
  color: #FFFFFF;
  text-decoration: none;
}

.filter__form {
  display: flex;
}

.filter__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter__fieldset-infrastructure {
  margin-right: 67px;
}

.filter__fieldset-type {
  margin-right: 167px;
}

.filter__fieldset-price {
  margin-right: 81px;
}

.filter__title {
  margin-bottom: 30px;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.filter__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter__checkbox, .filter__radio-button {
  margin-bottom: 13px;
}

.filter__checkbox:nth-child(3n), .filter__radio-button:nth-child(3n) {
  margin-bottom: 0;
}

.filter__span {
  line-height: 23px;
}

.filter__button-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.filter__button-submit {
  width: 160px;
  margin-bottom: 20px;
  padding: 14px 0;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-transform: uppercase;
}

.filter__button-reset {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background: none;
  border: none;
}

.hotels {
  padding: 0 72px;
}

.hotels__header {
  display: flex;
  padding-top: 44px;
  padding-bottom: 42px;
}

.hotels__amount-text {
  margin: 0 192px 0 0;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotels__sorting {
  margin-right: auto;
}

.hotels__sorting-select {
  width: 287px;
  padding: 12px 19px 13px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotels__sorting-button {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.hotels__sorting-button:last-of-type {
  margin-right: 0;
}

.hotels__sorting-button_active {
  border: 2px solid #000000;
}

.hotels__button-load {
  display: block;
  width: 625px;
  margin: 30px auto;
  padding-top: 15px;
  padding-bottom: 14px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-transform: uppercase;
}

.hotels__pagination {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.catalog {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog__item {
  display: flex;
  padding-top: 28px;
  padding-bottom: 30px;
}

.catalog__image {
  margin-right: 36px;
}

.catalog__description {
  display: grid;
  grid-template-columns: 151px 151px;
  grid-template-rows: 31px auto 37px;
  grid-gap: 0 8px;
}

.catalog__title {
  grid-column: 1 / -1;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.catalog__type, .catalog__price {
  line-height: 23px;
  color: #333333;
  background-color: #FFFFFF;
}

.catalog-button {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog__more {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #FFFFFF;
  background-color: #756257;
  text-align: center;
  text-decoration: none;
}

.catalog__favourite {
  color: #FFFFFF;
  background-color: #83B3D3;
}

.catalog__favourite_added {
  background-color: #7DB54F;
}

.catalog__rating {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-left: auto;
}

.catalog__rating-number {
  width: 160px;
  padding-top: 9px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 16px;
  color: #333333;
  background: #F2F2F2;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination__item {
  text-align: center;
  background-color: #83B3D3;
}

.pagination__item {
  margin-right: 8px;
}

.pagination__item:last-of-type {
  margin-right: 0;
}

.pagination__item_active {
  background-color: #F2F2F2;
}

.pagination__link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
}

.pagination__link_active {
  color: #000000;
  background-color: #F2F2F2;
}

.hotels-per-page {
  display: flex;
  align-items: center;
}

.hotels-per-page__label {
  margin-right: 51px;
  line-height: 23px;
  color: #333333;
  background-color: #FFFFFF;
}

.hotels-per-page__select {
  width: 160px;
  padding: 11px 17px 10px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background-color: #FFFFFF;
}

