@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

/*.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}*/


.page-body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

.page-body__container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
}

.button {
  font-family: "PT Sans", sans-serif;
  border: none;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.site-list {
  width: 415px;
  margin: 0;
  padding: 0;
}

.site-list__link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.user-list {
  width: 290px;
  margin: 0;
  padding: 0;
}

.user-list__link {
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.user-list__booking {
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  text-transform: uppercase;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

.banner {
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../img/index/index-background.jpg");
  background-position: center, 0, 0;
  background-repeat: no-repeat;
}

.about {
  width: 720px;
  text-align: center;
}

.about__description {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  background-color: #FFFFFF;
}

.reasons {
  margin: 0 auto;
  text-align: center;
}

.reasons__item {
  display: flex;
  flex-direction: row;
}

.reasons__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantage__description {
  width: 400px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantage__text {
  width: 250px;
}

.advantage__image {
  width: 800px;
}

.advantages-list {
  margin: 0;
  padding: 0;
}

.advantages-list__item_bg  {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-list__description {
  color: #333333;
}

.advantages-other__item_bg  {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-other__item_center_bg {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-other__number, .advantages-other__text {
  color: #333333;
}

.search {
  text-align: center;
}

.search__text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search__description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #FFFFFF;
}

.search__button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  text-transform: uppercase;
  text-decoration: none;
}

.subscription {
  text-align: center;
}

.subscription__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription__description {
  font-size: 22px;
  line-height: 26px;
}

.subscription__form-label {
  font-family: "PT Sans", sans-serif;
}

.subscription__form-button {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-transform: uppercase;
}

.subscription_index {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../img/index/index-background-blur.jpg");
  background-position: center, 0, 0;
  background-repeat: no-repeat;
}

.subscription_catalog {
  color: #000000;
  background-color: #FFFFFF;
}

.subscription__description_dark {
  color: #333333;
  background-color: #FFFFFF;
}

.social__link {
  color: #83B3D3;
  background-color: #FFFFFF;
  text-decoration: none;
}

.phone__link {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.page-catalog {
  background: #FFFFFF;
}

.page-catalog__header {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../img/catalog-background-blur.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.catalog-header__title {
  font-size: 60px;
  line-height: 78px;
  font-weight: bold;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs__link {
  color: #FFFFFF;
  text-decoration: none;
}

.filter__title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.filter__span {
  line-height: 23px;
}

.filter__button-submit {
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-transform: uppercase;
}

.filter__button-reset {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background: none;
  border: none;
}

.hotels__amount-text {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotels__sorting-select {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotels__sorting-button {
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.hotels__sorting-button_active {
  border: 2px solid #000000;
}

.hotels__button-load {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-transform: uppercase;
}

.catalog__title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.catalog__type, .catalog__price {
  line-height: 23px;
  color: #333333;
  background-color: #FFFFFF;
}

.catalog-button {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog__more {
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
}

.catalog__favourite {
  color: #FFFFFF;
  background-color: #83B3D3;
}

.catalog__favourite_added {
  background-color: #7DB54F;
}

.catalog__rating {
  font-size: 16px;
  color: #333333;
  background: #F2F2F2;
  text-transform: uppercase;
}

.pagination__item {
  text-align: center;
  background-color: #83B3D3;
}

.pagination__item_active {
  background-color: #F2F2F2;
}

.pagination__link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
}

.pagination__link_active {
  color: #000000;
  background-color: #F2F2F2;
}

.hotels-per-page__label {
  line-height: 23px;
  color: #333333;
  background-color: #FFFFFF;
}

.hotels-per-page__select {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background-color: #FFFFFF;
}

