@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.page-body {
  min-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.page-body__container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button {
  font-family: "PT Sans", sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
}

.link {
  outline: none;
}

.page-header {
  min-height: 65px;
  padding: 0 72px 0 59px;
}

.page-header__logo {
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

.page-header__logo:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
}

.page-header__logo-image {
  display: block;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.site-list {
  display: flex;
  flex-wrap: wrap;
  width: 415px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-list__item {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 65px;
  margin-right: 9px;
  z-index: 1;
}

.site-list__item:nth-child(3n) {
  margin-right: 0;
}

.site-list__item-current::before {
  position: absolute;
  right: 11px;
  bottom: -1px;
  left: 11px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.site-list__link {
  display: block;
  padding: 5px 12px 7px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.site-list__link:hover {
  color: #756257;
}

.site-list__link:focus {
  color: #756257;
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
}

.site-list__link:active {
  color: #756257;
  opacity: 0.3;
  box-shadow: none;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  width: 290px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-list__item:nth-child(1n) {
  margin-right: 5px;
}

.user-list__item:nth-child(2n) {
  position: relative;
  margin-right: 25px;
}

.user-list__item:nth-child(3n) {
  margin-right: 0;
}

.user-list__link {
  display: block;
  position: relative;
  min-width: 34px;
  min-height: 34px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.user-list__fav-number {
  position: absolute;
  width: 19px;
  height: 19px;
  bottom: 17px;
  left: 20px;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
}

.user-list__link:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  border-radius: 10px;
}

.user-list__link:active {
  box-shadow: none;
}

.user-list__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.user-list__link:hover .user-list__icon {
  fill: #756257;
}

.user-list__link:focus .user-list__icon {
  fill: #756257;
}

.user-list__link:active .user-list__icon {
  fill: #756257;
  opacity: 0.3;
}

.user-list__link_favourite:active .user-list__fav-number {
  color: rgba(255, 255, 255, 0.3);
}

.user-list__booking {
  display: block;
  width: 160px;
  padding: 8px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756257;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
}

.user-list__booking:hover {
  background-color: #615048;
}

.user-list__booking:focus {
  background-color: #615048;
  box-shadow: 0 0 0 3px #83b3d3;
}

.user-list__booking:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
  box-shadow: none;
}

.user-list__popover {
  position: absolute;
  top: 46px;
  left: -181px;
  z-index: 1;
}

.popover-fav {
  display: none;
  width: 400px;
  min-height: 232px;
  box-sizing: border-box;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.popover-fav_open {
  display: block;
}

.popover-fav::before {
  content: "";
  position: absolute;
  top: -9px;
  right: calc(100% - 50% - 8px);
  width: 0;
  height: 0;
  border-style: solid;
  filter: drop-shadow(#E6E6E6 0px -1px 0px);
  border-color: transparent transparent #ffffff;
  border-width: 0 10px 10px;
}

.popover-fav__link {
  display: block;
  padding: 19px 0 20px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #756257;
  border-radius: 0 0 20px 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.popover-fav__link:hover {
  background-color: #615048;
}

.popover-fav__link:focus {
  background-color: #615048;
  box-shadow: 0 0 0 3px #83b3d3;
}

.popover-fav__link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
  box-shadow: none;
}

.fav-list {
  height: 100%;
  padding: 15px 14px 10px 15px;
  background-color: #ffffff;
  border-top: 1px solid #E6E6E6;
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
  border-radius: 20px 20px 0 0;
  list-style-type: none;
}

.fav-list__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.fav-list__link {
  display: grid;
  grid-template-columns: 48px auto;
  grid-template-rows: auto min-content;
  grid-column-gap: 16px;
  max-width: 250px;
  padding: 10px;
  text-decoration: none;
}

.fav-list__link:hover {
  opacity: 0.6;
}

.fav-list__link:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
}

.fav-list__link:active {
  opacity: 0.3;
  box-shadow: none;
}

.fav-list__image {
  grid-row: 1 / -1;
  border-radius: 50%;
}

.fav-list__title {
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.fav-list__type {
  margin-top: -7px;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.fav-list__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  width: 36px;
  height: 36px;
  background: none;
}

.fav-list__icon {
  margin: auto;
  fill: #000000;
  opacity: 0.2;
}

.fav-list__button:hover .fav-list__icon, .fav-list__button:focus .fav-list__icon {
  opacity: 1;
}

.fav-list__button:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
}

.fav-list__button:active .fav-list__icon {
  opacity: 0.1;
}

.main-navigation {
  display: grid;
  grid-template-columns: 413px 256px 400px;
}

.main-navigation__list-right {
  margin-left: auto;
}

.main-container {
  flex-grow: 1;
}

.banner {
  position: relative;
  padding-top: 47px;
  padding-bottom: 82px;
  text-align: center;
  color: #ffffff;
  background-color: #68a2ca;
  background-image: url("../img/index/index-background.jpg");
  background-position: center, 0, 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.banner__logo {
  padding-top: 5px;
}

.banner::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  width: 1200px;
  height: 57px;
  background-image: url("../img/index/mask.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.about {
  width: 720px;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 80px;
  text-align: center;

}

.about__description {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  margin: 0;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  background-color: #ffffff;
}

.reasons {
  text-align: center;
}

.reasons__item {
  display: flex;
  flex-wrap: wrap;
}

.reasons__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantage__description {
  width: 400px;
  padding: 98px 90px 77px;
  color: #ffffff;
  background-color: #83b3d3;
}

.advantage__title {
  margin-top: 0;
  margin-bottom: 29px;
}

.advantage__number {
  display: block;
  margin-bottom: 30px;
}

.advantage__text {
  margin: 0;
}

.advantage__image {
  width: 800px;
}

.advantage-revert {
  flex-direction: row-reverse;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-list__item {
  width: 400px;
  padding: 184px 75px 89px;
}

.advantages-list__item_bg  {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-list__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
}

.advantages-list__title::before {
  content: "";
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: -96px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.advantages-list__title-house::before {
  background-image: url("../img/index/house.svg");
  width: 75px;
  height: 72px;
}

.advantages-list__title-food::before {
  background-image: url("../img/index/food.svg");
  width: 74px;
  height: 70px;
}

.advantages-list__title-present::before {
  background-image: url("../img/index/present.svg");
  width: 64px;
  height: 76px;
}

.advantages-list__description {
  margin: 0;
  color: #333333;
}

.advantages-other__item {
  width: 400px;
  padding: 98px 75px 109px;
}

.advantages-other__item_bg  {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-other__item_center_bg {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-other__title {
  max-width: 150px;
  margin: 0 auto 28px;
}

.advantages-other__text {
  margin: 0;
}

.advantages-other__number {
  display: block;
  margin-bottom: 29px;
}

.advantages-other__number, .advantages-other__text {
  color: #333333;
}

.search {
  width: 720px;
  margin: 0 auto;
  padding-top: 89px;
  padding-bottom: 91px;
  text-align: center;
}

.search__text {
  margin: 0 auto 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search__description {
  margin: 0 auto 59px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
}

.search__button {
  display: block;
  width: 575px;
  margin: 0 auto;
  padding: 12px 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756257;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.search__button:hover {
  background-color: #615048;
}

.search__button:focus {
  box-sizing: border-box;
  background-color: #615048;
  box-shadow: 0 0 0 3px #83b3d3;
}

.search__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
  box-shadow: none;
}

.subscription {
  text-align: center;
}

.subscription__container {
  width: 800px;
  margin: 0 auto;
}

.subscription__title {
  margin: 0 auto 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription__description {
  margin: 0 auto 47px;
  padding: 0 130px;
  font-size: 22px;
  line-height: 26px;
}

.subscription__form {
  display: grid;
  grid-template-columns: 600px 200px;
  min-height: 60px;
}

.subscription__form-label {
  padding: 0 19px 0 22px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
  border: none;
}

.subscription__form-label:hover {
  background-color: #E6E6E6;
}

.subscription__form-label:focus {
  background-color: #E6E6E6;
  box-shadow: 0 0 0 3px #83b3d3;
}

.subscription__form-label:focus-visible {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #000000;
  outline: none;
}

.subscription__form-label:invalid {
  box-shadow: none;
}

.subscription__form-label:focus:invalid {
  box-shadow: inset 0 0 0 2px #ff5757;
}

.subscription__form-label:disabled,
.subscription__form-label:disabled:hover {
  color: #000000;
  background-color: #e5e5e5;
  box-shadow: none;
}

.subscription__form-label[type="email"]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.subscription__form-label[type="email"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.subscription__form-label[type="email"]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.subscription__form-label[type="email"]::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.subscription__form-label[type="email"]::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.subscription__form-button {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 0 10px 10px 0;
  text-transform: uppercase;
}

.subscription__form-button:hover {
  background-color: #68a2ca;
}

.subscription__form-button:focus {
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
}

.subscription__form-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
  box-shadow: none;
}

.subscription_index {
  padding-top: 92px;
  padding-bottom: 94px;
  color: #ffffff;
  background-color: #756257;
  background-image: url("../img/index/index-background-blur.jpg");
  background-position: center, 0, 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.subscription_catalog {
  color: #000000;
  background-color: #ffffff;
}

.subscription__description_dark {
  color: #333333;
  background-color: #ffffff;
}

.page-footer {
  display: flex;
  align-items: center;
  padding: 20px 50px 25px 62px;
}

.page-footer__phone {
  flex-grow: 1;
  text-align: center;
}

.page-footer__copyright {
  padding-top: 5px;
}

.social {
  width: 170px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__item {
  margin-right: 3px;
}

.social__item:nth-child(3n) {
  margin-right: 0;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  color: #83b3d3;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
}

.social__link:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
}

.social__link:active {
  box-shadow: none;
}

.social__icon {
  fill: #83b3d3;
}

.social__link:hover .social__icon {
  fill: #68a2ca;
}

.social__link:focus .social__icon {
  fill: #68a2ca;
}

.social__link:active .social__icon {
  fill: #68a2ca;
  opacity: 0.3;
}

.phone {
  width: 100%;
  max-width: 785px;
}

.phone__link {
  display: inline-block;
  padding: 12px 15px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.phone__link:hover {
  color: #756257;
}

.phone__link:focus {
  color: #756257;
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
}

.phone__link:active {
  color: #756257;
  opacity: 0.3;
  box-shadow: none;
}

.copyright {
  width: 160px;
}

.copyright__link {
  display: block;
  padding: 18px 24px 14px 22px;
}

.copyright__link:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
}

.copyright__link:active {
  box-shadow: none;
}

.copyright__image {
  fill: #000000;
}

.copyright__link:hover .copyright__image {
  fill: #756257;
}

.copyright__link:focus .copyright__image {
  fill: #756257;
}

.copyright__link:active .copyright__image {
  fill: #756257;
  opacity: 0.3;
}

.page-catalog {
  padding-bottom: 138px;
  background: #ffffff;
}

.page-catalog__header {
  padding-top: 32px;
  padding-bottom: 84px;
  color: #ffffff;
  background-color: #756257;
  background-image: url("../img/catalog/catalog-background-blur.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.page-catalog__hotels {
  margin-bottom: 87px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__link {
  display: block;
  margin-right: 10px;
  padding: 4px 8px 2px;
  color: #ffffff;
  line-height: 21px;
  text-decoration: none;
}

.breadcrumbs__link_home {
  display: block;
  position: relative;
  width: 28px;
  height: 27px;
}

.breadcrumbs__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #ffffff;
}

.breadcrumbs__item::after {
  position: absolute;
  content: "";
  right: 2px;
  top: 11px;
  width: 5px;
  height: 8px;
  background-image: url("../img/breadcrumbs-arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.breadcrumbs__item:last-child::after {
  content: none;
}

.breadcrumbs__link:hover {
  opacity: 0.6;
}

.breadcrumbs__link:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 4px;
}

.breadcrumbs__link:active {
  box-shadow: none;
  opacity: 0.3;
}

.catalog-header {
  margin-bottom: 43px;
  padding-left: 65px;
  padding-right: 71px;
}

.catalog-header__title {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 6px;
  font-size: 60px;
  line-height: 78px;
  font-weight: bold;
}

.catalog-header__list {
  margin-top: -7px;
}

.filter__form {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  padding: 0 71px;
}

.filter__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter__fieldset_infrastructure {
  margin-right: 67px;
}

.filter__fieldset_type {
  margin-right: 169px;
}

.filter__fieldset_price {
  position: relative;
  margin-right: 81px;
}

.filter__title {
  margin-bottom: 30px;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.filter__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter__checkbox, .filter__radio-button {
  margin-bottom: 13px;
  padding-left: 40px;
}

.filter__checkbox:last-child, .filter__radio-button:last-child {
  margin-bottom: 0;
}

.filter__label {
  cursor: pointer;
}

.filter__span {
  position: relative;
  line-height: 23px;
}

.filter__span::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 1px;
  left: -39px;
  background-color: #ffffff;
}

.filter__span_checkbox::before {
  border-radius: 4px;
}

.filter__span_radio-button::before {
  border-radius: 50%;
}

.filter__input:checked + .filter__span::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -35px;
}

.filter__input:checked + .filter__span_checkbox::after {
  width: 13px;
  height: 10px;
  background-image: url("../img/tick.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter__input:checked + .filter__span_radio-button::after {
  left: -34px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
}

.filter__input:hover + .filter__span_checkbox::before {
  background-color: rgba(255, 255, 255, 0.6);
}

.filter__input:focus + .filter__span_checkbox::before {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 3px #83b3d3;
}

.filter__input:active + .filter__span_checkbox::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
}

.filter__input:active + .filter__span_radio-button::before {
  box-shadow: none;
}

.filter__input:focus + .filter__span_radio-button::before {
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.filter__input:checked:focus + .filter__span_radio-button::before {
  box-shadow: 0 0 0 3px #83b3d3;
}

.filter__input:disabled + .filter__span::before,
.filter__input:disabled + .filter__span:hover::before {
  background-color: #B7B7B7;
  box-shadow: none;
}

.filter__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.filter__button-submit {
  width: 160px;
  margin-bottom: 19px;
  padding: 14px 0 15px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 4px;
  text-transform: uppercase;
}

.filter__button-submit:hover {
  background-color: #68a2ca;
}

.filter__button-submit:focus {
  background: #68a2ca;
  box-shadow: 0 0 0 3px #ffffff;
}

.filter__button-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
  box-shadow: none;
}

.filter__button-reset {
  position: relative;
  width: 100px;
  padding: 0;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background: none;
  border: none;
}

.filter__button-reset:hover {
  opacity: 0.6;
}

.filter__button-reset:focus::after {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% + 9px);
  top: -3px;
  left: 1px;
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 4px;
}

.filter__button-reset:active {
  color: #ffffff;
  opacity: 0.3;
  box-shadow: none;
}

.price__title {
  margin-bottom: 35px;
}

.price__scale {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.price__bar {
  position: absolute;
  width: 227px;
  height: 4px;
  background-color: #ffffff;
}

.price__toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
}

.price__toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.price__toggle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.price__toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.price__toggle_min {
  top: -8px;
  left: 0;
}

.price__toggle_max {
  top: -8px;
  right: -9px;
}

.price__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}

.price__label {
  display: flex;
  position: relative;
}

.price__input {
  width: 144px;
  height: 48px;
  padding-left: 17px;
  padding-right: 36px;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background: none;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-right-width: 1px;
  border-radius: 4px 0 0 4px;
}

.price__input_right {
  width: 143px;
  padding-left: 14px;
  border-left-width: 1px;
  border-right-width: 2px;
  border-radius: 0 4px 4px 0;
}

.price__input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.price__input:focus {
  border: 2px solid #ffffff;
  box-shadow: inset 0 0 0 3px #81B3D2;
  outline: 3px solid #81B3D2;
  z-index: 1;
}

.price__input:focus-visible {
  background-color: #756257;
  border-color: #ffffff;
  border-right-width: 1px;
  box-shadow: none;
  outline: none;
  z-index: 1;
}

.price__input_right:focus-visible {
  border-right-width: 2px;
  border-left-width: 1px;
}

.price__input:disabled,
.price__input:disabled:hover {
  background-color: #B7B7B7;
  opacity: 0.3;
}

.price__span {
  position: absolute;
  top: 11px;
  right: 16px;
  line-height: 23px;
  opacity: 0.3;
  z-index: 1;
}

.price__input::-webkit-outer-spin-button,
.price__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price__input {
  -moz-appearance:textfield;
}

.hotels {
  padding: 0 72px;
}

.hotels__header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 44px;
  padding-bottom: 42px;
}

.hotels__amount-text {
  flex-grow: 1;
  max-width: 529px;
  width: 100%;
  margin: 0;
  font-size: 30px;
  line-height: 47px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotels__sorting {
  margin-right: auto;
}

.hotels__sorting-select {
  width: 287px;
  padding: 9px 11px 12px 15px;
  font-family: PT Sans, sans-serif;
  color: #333333;
  font-size: 18px;
  line-height: 23px;
  background-color: #ffffff;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  background-image: url("../img/catalog/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}

.hotels__sorting-select:hover, .hotels__sorting-select:focus {
  border: 2px solid #83b3d3;
  outline: none;
}

.hotels__sorting-select:active {
  border: 2px solid #E6E6E6;
  color: rgba(51, 51, 51, 0.3);
}

.hotels__sorting-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.hotels__sorting-button:last-of-type {
  margin-right: 0;
}

.hotels__sorting-button_active {
  border: 2px solid #000000;
}

.hotels__sorting-button:hover {
  border: 2px solid #83b3d3;
}

.hotels__sorting-button:focus {
  border: 2px solid #83b3d3;
}

.hotels__button-load {
  display: block;
  width: 625px;
  margin: 30px auto;
  padding-top: 15px;
  padding-bottom: 14px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83b3d3;
  text-transform: uppercase;
  border-radius: 4px;
}

.hotels__button-load:hover {
  background-color: #68a2ca;
}

.hotels__button-load:focus {
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
}

.hotels__button-load:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
  box-shadow: none;
}

.hotels__pagination {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  border-top: 1px solid #E6E6E6;
}

.catalog {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-bottom: 1px solid #E6E6E6;
}

.catalog__item {
  display: flex;
  padding-top: 27px;
  padding-bottom: 30px;
  border-top: 1px solid #E6E6E6;
}

.catalog__image-link {
  margin-top: 3px;
  margin-right: 37px;
  text-decoration: none;
}

.catalog__image-link:hover {
  opacity: 0.6;
}

.catalog__image-link:focus {
  box-shadow: 0 0 0 3px #83b3d3;
}

.catalog__image-link:active {
  box-shadow: none;
  opacity: 0.3;
}

.catalog__image {
  display: block;
}

.catalog__description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 320px;
}

.catalog__title-link {
  position: relative;
  width: fit-content;
  color: #000000;
  text-decoration: none;
}

.catalog__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.catalog__title-link:hover, .catalog__title-link:focus {
  color: #756257;
}

.catalog__title-link:active {
  color: #756257;
  opacity: 0.3;
  box-shadow: none;
}

.catalog__title-link:focus::after {
  position: absolute;
  content: "";
  width: calc(100% + 32px);
  height: calc(100% + 5px);
  left: -15px;
  top: -2px;
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
}

.catalog__subtitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 236px;
  margin-bottom: 32px;
}

.catalog__type, .catalog__price {
  line-height: 23px;
  color: #333333;
  background-color: #ffffff;
}

.catalog__button-container {
  display: flex;
  flex-wrap: wrap;
}

.catalog-button {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
}

.catalog__more {
  display: block;
  width: 151px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #ffffff;
  background-color: #756257;
  text-align: center;
  text-decoration: none;
}

.catalog__more:hover {
  background-color: #615048;
}

.catalog__more:focus {
  background-color: #615048;
  box-shadow: 0 0 0 3px #83b3d3;
}

.catalog__more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
  box-shadow: none;
}

.catalog__favourite {
  width: 160px;
  color: #ffffff;
  background-color: #83b3d3;
}

.catalog__favourite:hover {
  background-color: #68a2ca;
  box-shadow: inset 0 0 0 1px #756257;
}

.catalog__favourite:focus {
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
}

.catalog__favourite:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
  box-shadow: inset 0 0 0 1px #756257;
}

.catalog__favourite_added {
  background-color: #7db54f;
}

.catalog__favourite_added:hover {
  background-color: #6c9e42;
  box-shadow: none;
}

.catalog__favourite_added:focus {
  background-color: #6c9e42;
  box-shadow: 0 0 0 3px #756257;
}

.catalog__favourite_added:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6c9e42;
  box-shadow: none;
}

.catalog__rating {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: end;
  margin-top: 3px;
  margin-left: auto;
}

.catalog__rating::before {
  position: absolute;
  content: "";
  width: 91px;
  height: 17px;
  top: 3px;
  right: 0;
  left: 0;
  margin: 0 auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.catalog__rating_four::before {
  background-image: url("../img/catalog/rating-4.svg");
}

.catalog__rating_three::before {
  background-image: url("../img/catalog/rating-3.svg");
}

.catalog__rating_two::before {
  background-image: url("../img/catalog/rating-2.svg");
}

.catalog__rating-number {
  width: 160px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  font-size: 16px;
  color: #333333;
  background: #f2f2f2;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  max-width: 380px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination__item {
  margin-right: 8px;
  text-align: center;
}

.pagination__item:last-of-type {
  margin-right: 0;
}

.pagination__link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 4px;
  text-decoration: none;
}

.pagination__link:hover {
  background-color: #68a2ca;
}

.pagination__link:focus {
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
}

.pagination__link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
  box-shadow: none;
}

.pagination__link_active {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination__link_active:hover {
  background-color: #f2f2f2;
}

.pagination__link_active:focus, .pagination__link_active:active {
  color: #000000;
  background-color: #f2f2f2;
  box-shadow: none;
}

.hotels-per-page {
  display: flex;
  align-items: center;
  max-width: 386px;
}

.hotels-per-page__label {
  margin-right: 51px;
  line-height: 23px;
  color: #333333;
  background-color: #ffffff;
}

.hotels-per-page__select {
  width: 160px;
  padding: 10px 15px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background-color: #ffffff;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-image: url("../img/catalog/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}

.hotels-per-page__select:hover, .hotels-per-page__select:focus {
  border: 2px solid #83b3d3;
  outline: none;
}

.hotels-per-page__select:active {
  border: 2px solid #E6E6E6;
  color: rgba(51, 51, 51, 0.3);
}

.page-modal {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(242, 242, 242, 0.8);
  z-index: 1;
}

.page-modal__content {
  position: relative;
  margin: auto;
}

.page-modal_closed {
  display: none;
}

.modal {
  width: 715px;
  padding: 62px 70px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal__content {
  position: relative;
}

.modal__close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border-radius: 50%;
  z-index: 1;
}

.modal__close-icon {
  fill: #000000;
}

.modal__close-button:hover {
  background-color: #E6E6E6;
}

.modal__close-button:focus {
  background: #E6E6E6;
  box-shadow: 0 0 0 3px #83b3d3;
}

.modal__close-button:active {
  background-color: #E6E6E6;
  box-shadow: none;
}

.modal__close-button:active .modal__close-icon {
  opacity: 0.3;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 59px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
}

.search-form__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 13px;
}

.search-form__visitors {
  display: grid;
  grid-template-columns: 155px 133px 110px auto 133px;
  align-items: center;
  margin-bottom: 40px;
}

.search-form__label {
  font-weight: 700;
  line-height: 40px;
}

.search-form__label_children {
  justify-self: end;
  margin-right: 10px;
}

.search-form__input {
  padding: 0 18px 3px 19px;
  width: 420px;
  height: 50px;
  border: none;
}

.search-form__input:hover {
  background-color: #E6E6E6;
}

.search-form__input:focus {
  background-color: #E6E6E6;
  box-shadow: 0 0 0 3px #83b3d3;
}

.search-form__input:focus-visible {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #000000;
  outline: none;
}

.search-form__input:disabled,
.search-form__input:disabled:hover {
  color: #000000;
  background-color: #e5e5e5;
  box-shadow: none;
}

.search-form__input[type="text"]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form__input[type="text"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form__input[type="text"]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form__input[type="text"]::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form__input[type="text"]::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form__field {
  position: relative;
}

.search-form__calendar-button {
  position: absolute;
  top: 12px;
  right: 13px;
  padding: 6px 6px 4px;
  background: none;
}

.search-form__calendar-button:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 4px;
}

.search-form__help {
  margin: 0 0 0 156px;
  font-size: 16px;
  line-height: 27px;
  color: #333333;
}

.search-form__help_closed {
  display: none;
}

.search-form__help_error {
  color: #ff5757;
}

.search-form__info {
  position: relative;
  width: 25px;
  height: 25px;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 50%;
}

.search-form__info:hover {
  background-color: #68a2ca;
}

.search-form__info-content {
  display: none;
  position: absolute;
  width: 256px;
  top: 41px;
  left: -115px;
  padding: 19px 18px 24px 22px;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.search-form__info-content::after {
  content: " ";
  position: absolute;
  left: 118px;
  top: -9px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #333333 transparent;
}

.search-form__info:hover .search-form__info-content {
  display: block;
}

.search-form__button {
  width: 100%;
  padding: 10px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
  background: #83b3d3;
  border-radius: 10px;
  text-transform: uppercase;
}

.search-form__button:hover {
  background-color: #68a2ca;
}

.search-form__button:focus {
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
}

.search-form__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
  box-shadow: none;
}

.counter {
  display: flex;
  align-items: center;
  width: 133px;
  height: 50px;
  padding: 0 13px;
}

.counter__number {
  width: 100%;
  padding: 0;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background: #f2f2f2;
  border: none;
}

.counter__number::-webkit-outer-spin-button,
.counter__number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.counter__number {
  -moz-appearance:textfield;
}

.counter__number:focus-visible {
  outline: none;
}

.counter__number:disabled,
.counter__number:disabled:hover {
  color: #e5e5e5;
  box-shadow: none;
}

.counter__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background: none;
}

.counter__button:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 4px;
}

.counter__button:active {
  box-shadow: none;
}

.counter__icon {
  fill: #000000;
  opacity: 0.3;
}

.counter__button:hover .counter__icon, .counter__button:focus .counter__icon {
  opacity: 1;
}

.counter__button:active .counter__icon {
  opacity: 0.2;
}

.modal-field {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background: #f2f2f2;
  border-radius: 4px;
}

